.advantage {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: stretch;

  @media (min-width: $tablet-width) {
    &--big {
      grid-template-columns: 1fr 2fr;
    }
  }
}

.advantage__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.48em;
  padding: 25px 40px;
  text-align: center;
  background-color: $pretty-light;

  &--big {
    padding: 39px 20px 35px;
    color: $special-text;
    background-color: $basic;
  }
}

.advantage__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
}
.advantage__description--big .advantage__title {
  color: $special-text;
}

.advantage__number {
  margin: 0;
  margin-bottom: 0.24em;
  padding: 0;
}

.advantage__text {
  margin: 0;
  padding: 0;
}

.advantage__photo {
  margin: 0;
  padding: 0;
}
