.button {
  padding: 5px 32px;
  box-sizing: border-box;

  font-family: 'PT Sans', sans-serif;
  color: $button-text;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $button;
  border: none;

  &:hover {
    color: $button-text-hover;
    background-color: $button-hover;
  }

  &:active {
    color: $button-text-active;
    background-color: $button-active;
  }

  &:disabled {
    color: $button-text-disabled;
    background-color: $button-disabled;
  }
}
