.city-advantage {
  padding-left: 70px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding: 157px 30px 60px;
    text-align: center;

    &--souvenirs {
      order: 1;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 157px 55px 81px;
  }
}

.city-advantage__description {
  display: flex;
  flex-direction: column;
  gap: 1.16em;

  @media (min-width: $tablet-width) {
    gap: 1.7em;
  }
}

.city-advantage__title {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;

  &::before {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
  }

  &--home::before {
    width: 39px;
    height: 37px;
    left: -49px;
    bottom: -2px;
    background-image: url(../img/advantages/icon-house--mobile.svg);
  }

  &--souvenirs::before {
    width: 32px;
    height: 38px;
    left: -45px;
    bottom: -1px;
    background-image: url(../img/advantages/icon-gift--mobile.svg);
  }

  &--meal::before {
    width: 40px;
    height: 35px;
    left: -52px;
    bottom: -4px;
    background-image: url(../img/advantages/icon-burger--mobile.svg);
  }

  @media (min-width: $tablet-width) {
    font-size: 21px;

    &::before {
      width: 100%;
      bottom: 0;
      left: 0;
    }

    &--home::before {
      height: 72px;
      top: -98px;
      background-image: url(../img/advantages/icon-house--mobile.svg);
    }

    &--souvenirs::before {
      height: 75px;
      top: -101px;
      background-image: url(../img/advantages/icon-gift--mobile.svg);
    }

    &--meal::before {
      height: 68px;
      top: -94px;
      background-image: url(../img/advantages/icon-burger--mobile.svg);
    }
  }
}

.city-advantage__text {
  margin: 0;
  padding: 0;
}
