.copy {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

.copy__logo {
  margin: 0;
  padding: 0;
  color: $copy-logo;
  @include content-center;
}

.copy__logo:hover {
  color: $copy-logo-hover;
  cursor: pointer;
}

.copy__logo:active {
  color: $copy-logo-active;
}
