.course-copy {
  font-size: smaller;
}

.course-copy__button {
  color: $button;
  text-decoration: none;

  &:hover {
    color: $button-hover;
  }

  &:active {
    color: $button-active;
  }

  &:disabled {
    color: $button-disabled;
  }
}
