.field {
  max-width: 100%;
  &--name {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 15px;
  }

  &--contacts {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    column-gap: 16px;

    @media (min-width: $desktop-width) {
      flex-direction: row;
      align-items: center;
    }
  }
}

.field__title {
  line-height: 26px;
}

.field__input[type="radio"] + .field__title {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 20px;
  max-width: max-content;
  &::before {
    content: '';
    width: 56px;
    height: 56px;
    background-color: $radio;
    border-radius: 50%;
  }
}

.field__input[type="radio"]:checked + .field__title {
    &::after {
      content: '';
      position: absolute;
      top: center;
      left: 16px;
      width: 24px;
      height: 24px;
      background-color: $radio-checked;
      border-radius: 50%;
    }
}

.field__input[type="checkbox"] + .field__title {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 20px;
  max-width: max-content;
  &::before {
    content: '';
    width: 56px;
    height: 56px;
    background-color: $radio;
    border-radius: 5px;
  }
}

.field__input[type="checkbox"]:checked + .field__title {
    &::after {
      content: '';
      position: absolute;
      top: center;
      left: 16px;
      width: 24px;
      height: 24px;
      background-color: $radio-checked;
      border-radius: 50%;
    }
}

.field__input-wrapper {
  margin: 0;
  padding: 0;
}

.field--contacts .field__input-wrapper {
  display: grid;
  grid-template-columns: 1fr 58px;
  flex-grow: 1;

  &::after {
    content: '';
    height: auto;
    width: 58px;
    background-color: $contacts-icon-bg;
  }
}

.field__input {
  max-width: 100%;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $title-text;
  background-color: $extra-light;
  border: none;

  &::placeholder {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: $title-text;
  }

  &--text {
    // padding: 18px 22px 14px;
    min-width: 150px;
    min-height: 58px;
  }

  &--textarea {
    width: 100%;
    // padding: 13px 22px 29px;
  }
}
