.fields-group {
  &--name {
    text-transform: uppercase;
  }

  &--contacts {
    text-transform: uppercase;
  }

  &--radio {
    font-size: 18px;
    font-weight: 700;
  }

  &--checkbox {
    font-size: 18px;
    font-weight: 700;
  }
}

.fields-group__wrapper {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  border: none;
  row-gap: 20px;
}

.fields-group--wide .fields-group__wrapper,
.fields-group--full-adaptive  .fields-group__wrapper{
  @media (min-width: $tablet-width) {
    border-top: 1px solid $light;
  }
}

.fields-group--contacts .fields-group__wrapper {
  row-gap: 14px;

  @media (min-width: $desktop-width) {
    display: flex;
    column-gap: 80px;
  }
}

.fields-group--full-adaptive .fields-group__wrapper {
  width: 100%;

  @media (min-width: $tablet-width) {
    grid-template-columns: 230px 230px;
    justify-content: center;
    column-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;

  }
}

.fields-group__title {
  margin: 0 auto 20px;
  padding: 0;
  width: 280px;
  box-sizing: border-box;
  text-align: center;
  font-size: 18px;

  &--textarea {
    margin-bottom: 15px;
  }

  @media (min-width: $tablet-width) {
    width: 350px;

    &--tablet-desktop-left {
      text-align: left;
    }

    &--tablet-left {
      text-align: left;
    }
  }

  @media (min-width: $desktop-width) {
    &--tablet-left {
      text-align: center;
    }
  }
}

.fields-group__input-item {
  margin: 0;
  padding: 0;
}
