.field {
  &--name {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 15px;

    min-width: 10px;
  }

  &--contact {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    column-gap: 16px;
    flex-grow: 1;

    @media (min-width: $desktop-width) {
      flex-direction: row;
      align-items: center;
    }
  }
}

.field__input-wrapper {
  margin: 0;
  padding: 0;
}

.field--contact .field__input-wrapper {
  display: grid;
  grid-template-columns: 1fr 58px;

  &::after {
    content: '';
    height: auto;
    width: 58px;
    background-color: $contacts-icon-bg;
  }
}

.field__input {
  max-width: 100%;
  min-width: 0px;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $title-text;
  background-color: $extra-light;
  border: none;

  &::placeholder {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: $title-text;
  }

  &--text {
    padding: 14px 18px 10px;
    min-height: 58px;
    background-color: $input;
    border: 4px solid $input;

    &:hover {
      background-color: $input-hover;
      border-color: $input-hover;
    }

    &:active,
    &:focus {
      background-color: $input-active;
      border-color: $input-border;
      outline: none;
    }
  }

  &--textarea {
    width: 100%;
    background-color: $input;
    border: 4px solid $input;
    padding: 14px 17px 20px;

    &:hover {
      background-color: $input-hover;
      border-color: $input-hover;
    }

    &:active,
    &:focus {
      background-color: $input-active;
      border-color: $input-border;
      outline: none;
    }
  }
}

.field--contact .field__input {
  flex-grow: 1;
}

.field__title {
  line-height: 26px;
}

.field__input[type="radio"] + .field__title {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 20px;
  max-width: max-content;
  &::before {
    content: '';
    width: 56px;
    height: 56px;
    background-color: $mark-field;
    border-radius: 50%;
  }
}

.field__input[type="radio"]:hover + .field__title,
.field__input[type="radio"]:focus + .field__title {
  &::before {
    background-color: $mark-field-hover;
  }
}

.field__input[type="radio"]:active + .field__title {
  &::before {
    background-color: $mark-field-active;
  }

  &::after {
    opacity: 0.3;
  }
}

.field__input[type="radio"]:checked + .field__title {
    &::after {
      content: '';
      position: absolute;
      top: center;
      left: 16px;
      width: 24px;
      height: 24px;
      background-color: $mark;
      border-radius: 50%;
    }
}

.field__input[type="checkbox"] + .field__title {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 20px;
  max-width: max-content;
  &::before {
    content: '';
    width: 56px;
    height: 56px;
    background-color: $mark-field;
    border-radius: 5px;
  }
}

.field__input[type="checkbox"]:hover + .field__title,
.field__input[type="checkbox"]:focus + .field__title {
  &::before {
    background-color: $mark-field-hover;
  }
}

.field__input[type="checkbox"]:checked + .field__title {
    &::after {
      content: '';
      position: absolute;
      top: center;
      left: 16px;
      width: 24px;
      height: 24px;
      background-color: $mark;
      border-radius: 50%;
    }
}

.field__input[type="checkbox"]:active + .field__title {
  &::before {
    background-color: $mark-field-active;
  }

  &::after {
    opacity: 0.3;
  }
}
