.fields-group {
  &--name {
    text-transform: uppercase;
  }

  &--contacts {
    text-transform: uppercase;
  }

  &--radio {
    font-size: 18px;
    font-weight: 700;
  }

  &--checkbox {
    font-size: 18px;
    font-weight: 700;
  }

  @media (max-width: $mobile-width-only) {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 1px;
      background-color: $form-strip;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.fields-group__wrapper {
  margin: 0;
  padding: 0 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  border: none;
}

.fields-group--contacts .fields-group__wrapper {
  row-gap: 14px;

  @media (min-width: $desktop-width) {
    display: flex;
    column-gap: 80px;
  }
}

.fields-group--radio .fields-group__wrapper {
  row-gap: 13px;
}

.fields-group--checkbox .fields-group__wrapper {
  row-gap: 24px;
}

.fields-group--wide .fields-group__wrapper,
.fields-group--full-adaptive  .fields-group__wrapper{
  @media (min-width: $tablet-width) {
    border-top: 1px solid $form-strip;
  }
}


.fields-group--full-adaptive .fields-group__wrapper {
  width: 100%;

  @media (min-width: $tablet-width) {
    grid-template-columns: 230px 230px;
    justify-content: center;
    column-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;

  }
}

.fields-group__title {
  margin: 0 auto 20px;
  padding: 0;
  max-width: 280px;
  box-sizing: border-box;
  text-align: center;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
  }
}

.fields-group--name .fields-group__title {

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.fields-group--contacts .fields-group__title {
  margin-bottom: 19px;
}

.fields-group--radio .fields-group__title {
  margin-bottom: 21px;
}

.fields-group--wide .fields-group__title {

  @media (min-width: $tablet-width) {
    margin-left: auto;
    margin-bottom: 20px;
    width: 350px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 72px;
  }
}

.fields-group--full-adaptive .fields-group__title {

  @media (min-width: $tablet-width) {
    margin-left: auto;
    margin-bottom: 43px;
    width: 350px;
  }
}

.fields-group--textarea .fields-group__title {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }
}

.fields-group__input-item {
  margin: 0;
  padding: 0;
}
