.form {
  display: flex;
  flex-direction: column;
}

.form__group {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 20px;

  line-height: 26px;
  border: none;

  &--name {
    gap: 20px;
  }

  &--contacts {
    gap: 14px;
  }
}

.form__group-title {
  margin: 0 auto;
  font-size: 18px;
}

.form__group--name .form__group-title {
  margin-bottom: 20px;
}

.form__group--contacts .form__group-title {
  margin-bottom: 17px;
}

.form__input-wrapper {
  margin: 0;
  padding: 0;
}

.form__group--name .form__input-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 15px;
}

.form__input {
  background-color: $extra-light;
  border: none;
  &::placeholder {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: $title-text;
  }

  &--text {
    padding: 18px 20px 14px;
    min-height: 58px;
    box-sizing: border-box;
  }
}
