.form {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
  }
}

.form__group {
  position: relative;
  margin: 0;
  padding: 20px 0 25px;

  &--wide {
    grid-column: 1/-1;
  }

  @media (max-width: $mobile-width-only) {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 1px;
      background-color: $light;
    }
  }

  @media (min-width: $tablet-width) {
    &--first {
      order: -1;
    }

    &--small {
      padding-left: 60px;
    }

    &--wide-adaptive {
      margin-right: auto;
      margin-left: auto;
      width: 470px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;

    &--small {
      padding-left: 80px;
    }

    &--wide-adaptive {
      width: 100%;
    }
  }
}

.form__button {
  margin: 0;
  padding-top: 18px;
  padding-bottom: 14px;
  min-width: 280px;
  min-height: 58px;
  align-self: center;
}

.form__footnote {
  margin: 0;
  padding: 0;
  text-align: right;
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
