.galleries {
  display: flex;
  flex-direction: column;
  gap: 26px;

  @media (min-width: $tablet-width) {
    gap: 45px;
  }

  @media (min-width: $desktop-width) {
    gap: 54px;
  }
}

.galleries__lead {
  margin: 0;
  padding: 25px 20px 12px;
  font-size: 18px;

  @media (min-width: $tablet-width) {
    padding: 60px 60px 37px;
    font-size: 30px;
  }

  @media (min-width: $desktop-width) {
    gap: 62px;
    padding: 101px 120px 25px;
    font-size: 30px;
  }
}

.galleries__gallery {
  margin: 0 auto;
  padding: 0;
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 648px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.galleries__video-gallery {
  margin: 0 auto;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 648px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}
