.galleries__lead {
  padding: 31px 20px 20px;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    padding: 59px 60px 37px;
    font-size: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 101px 60px 44px;
    font-size: 30px;
  }
}

.galleries__gallery {
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 22px;
    padding-right: 60px;
    padding-left: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-left: 0;
  }
}

.galleries__video-gallery {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 200px;
  }
}
