.header-slogan {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  color: $title-text;
}

.header-slogan__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.header-slogan__lettering {
  margin: 0;
  padding: 0;
}

.header-slogan__image {
  width: 100%;
  height: auto;

  @media (min-width: $tablet-width) {
    width: 460px;
  }
}

.header-slogan--short .header-slogan__image {
  width: 229px;

  @media (min-width: $tablet-width) {
    width: 456px;
  }
}

.header-slogan__text {
  margin: 0 auto;
  padding: 0;
}
