.inputs-group {
  display: grid;
  grid-template-columns: 1fr;
  border: none;

  &--name {
    row-gap: 20px;
  }
}

.inputs-group__title {
  margin: 0 auto;
  font-size: 18px;

  &--name {
    margin-bottom: 20px;
  }

  &--contacts {
    margin-bottom: 17px;
  }

  &--radio {
    margin-bottom: 20px;
  }

  &--checkbox {
    margin-bottom: 20px;
  }

  &--textarea {
    margin-bottom: 15px;
  }
}

.inputs-group__input-item {
  margin: 0;
  padding: 0;
}
