.inputs-group {
  display: flex;
  flex-direction: column;
  border: none;

  &--name {
    gap: 20px;
  }

  &--contacts {
    gap: 14px;
  }

  &--radio {
    gap: 13px;
  }

  &--checkbox {
    gap: 24px;
  }
}

.inputs-group__title {
  margin: 0 auto;
  font-size: 18px;

  &--name {
    margin-bottom: 20px;
  }

  &--contacts {
    margin-bottom: 17px;
  }

  &--radio {
    margin-bottom: 20px;
  }

  &--checkbox {
    margin-bottom: 20px;
  }

  &--textarea {
    margin-bottom: 15px;
  }
}

.inputs-group__input-item {
  margin: 0;
  padding: 0;
}
