
// .input-item {

// }

.input-item__title {
  line-height: 26px;
}

// .input-item--contacts .input-item__title {
// }

.input-item__input[type="radio"] + .input-item__title {
  position: relative;
  &::before {
    content: '';
    width: 56px;
    height: 56px;
    background-color: $radio;
    border-radius: 50%;
  }
}

.input-item__input[type="radio"]:checked + .input-item__title {
    &::after {
      content: '';
      position: absolute;
      top: center;
      left: 16px;
      width: 24px;
      height: 24px;
      background-color: $radio-checked;
      border-radius: 50%;
    }
}

.input-item__input[type="checkbox"] + .input-item__title {
  position: relative;
  &::before {
    content: '';
    width: 56px;
    height: 56px;
    background-color: $radio;
    border-radius: 5px;
  }
}

.input-item__input[type="checkbox"]:checked + .input-item__title {
    &::after {
      content: '';
      position: absolute;
      top: center;
      left: 16px;
      width: 24px;
      height: 24px;
      background-color: $radio-checked;
      border-radius: 50%;
    }
}

.input-item__input-wrapper {
  display: flex;
}

.input-item--contacts .input-item__input-wrapper {
  &::after {
    content: '';
    height: auto;
    width: 58px;
    background-color: $contacts-icon-bg;
  }
}

.input-item__input {
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $title-text;
  background-color: $extra-light;
  border: none;

  &::placeholder {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: $title-text;
  }

  // &--text {
  //   padding: 18px 22px 14px;
  //   min-height: 58px;
  // }

  // &--textarea {
  //   padding: 13px 22px 29px;
  // }
}
