.likes-counter {
  display: flex;
  align-items: flex-end;
}

.likes-counter__icon {
  margin-right: 14px;
  opacity: 0.3;

  @media (min-width: $tablet-width) {
    margin-right: 10px;
  }

  @media (min-width: $desktop-width) {
    opacity: 1;
  }
}
