.logo-button__link {
  display: flex;
  justify-content: center;
  width: 100%;
}

.logo-button__img {
  width: 102px;
  height: 84px;

  @media (min-width: $desktop-width) {
    width: 186px;
    height: 96px;
  }
}

