.logo-button {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 186px;
}

.logo-button__link {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.logo-button__img {
  width: 102px;
  height: 84px;

  @media (min-width: $desktop-width) {
    width: 186px;
    height: 96px;
  }
}

.logo-sedona__background {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.logo-sedona__clouds {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.logo-sedona__basic-with-bridge {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
