.main-nav {
  position: relative;
  min-height: 56px;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: $title-text;

  @media (max-width: $mobile-width-only) {
    &::after {
      content: "";
      display: block;
      height: 56px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 26px;
  }
}

.main-nav__list {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: $mobile-width-only) {
    gap: 1px;
    background-color: $button;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 7px;
      background: linear-gradient(180deg, $main-menu-gradient 0%, $main-menu-dark-shadow 100%) bottom no-repeat;
    }
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.main-nav__item {
  box-sizing: border-box;
  @media (min-width: $tablet-width) {
    width: calc(20% - 1px);
    &:nth-of-type(2),
    &:nth-of-type(6) {
      margin-right: auto;
    }
    background-color: transparent;
  }
}

.main-nav--closed:not(.main-nav--nojs) .main-nav__item {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.main-nav__link {
  display: block;
  margin: 0;
  padding: 10px 20px 5px;
  min-height: 55px;
  height: 100%;
  box-sizing: border-box;
  color: $button-text;
  text-transform: uppercase;
  text-decoration: none;
  border: none;

  @media (max-width: $mobile-width-only) {
    box-shadow:
      0px 1px 0px 0px $main-menu-dark-shadow,
      0px 1px 0px 0px $main-menu-light-shadow inset;

    &:hover {
      color: $button-text-hover;
      background-color: $button-hover;
    }

    &:active {
      color: $button-text-active;
      background-color: $button-active;
    }
  }

  @include content-center;

  @media (min-width: $tablet-width) {
    margin: auto;
    padding: 0;
    width: max-content;
    max-width: calc(100% - 18px);
    color: $main-menu;
    box-shadow: none;

    &:hover {
      color: $main-menu-hover;
    }

    &:active {
      color: $main-menu-active;
    }
  }
}

.main-nav__item:first-of-type .main-nav__link {
  @media (max-width: $mobile-width-only) {
    box-shadow: 0px 1px 0px 0px $main-menu-dark-shadow;
  }
}

.main-nav__item:last-of-type .main-nav__link {
  @media (max-width: $mobile-width-only) {
    box-shadow: 0px 1px 0px 0px $main-menu-light-shadow inset;
  }
}

.main-nav__item--current .main-nav__link {
  color: $button-disabled;

  @media (min-width: $tablet-width) {
    color: $main-menu-current;

    &:hover {
      color: $main-menu-current-hover;
    }

    &:active {
      color: $main-menu-current-active;
    }
  }
}

.main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  background-color: transparent;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav__logo {
  margin: 0;
  padding: 0;
  position: absolute;
  left: calc(50% - 93px);

  @media (min-width: $tablet-width) {
    top: 0;
  }

  @media (min-width: $desktop-width) {
    left: calc(50% - 93px);
  }
}
