.map {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 350px;
  background-image: url(../img/map-mobile.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: $map;
}
