.mobile-menu {
  font-size: 18px;
  line-height: 40px;
  color: $white;
  background-color: $basic;
}

.mobile-menu__list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
  padding: 0;
  list-style: none;

  text-align: center;
}

.mobile-menu__link {
  width: 100%;
  min-height: 55px;
  color: $white;
  @include content-center;
}

.mobile-menu__toggle {
  background-color: transparent;
  border: none;
}
