.page-header {
  text-transform: uppercase;
}

.page-header__slogan {
  padding: 90px 19px 85px;

  @media (min-width: $tablet-width) {
    padding: 78px 60px 91px;
  }

  @media (min-width: $desktop-width) {
    padding: 78px 120px 90px;
  }

  &--short {
    padding: 52px 45px 67px;

    @media (min-width: $tablet-width) {
      padding: 95px 60px 117px;
    }

    @media (min-width: $desktop-width) {
      padding: 101px 120px 120px;
    }
  }
}



