.page-lead {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 57px;
    top: -57px;
    background-image: url(../img/decorative-elements/jags.svg);
    background-repeat: no-repeat;
    background-position: 50% 0;
  }

}

.page-lead__wrapper {
  margin: 0 auto;
  max-width: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    gap: 32px;
  }

  @media (min-width: $desktop-width) {
    gap: 35px;
  }
}

.page-lead--advanced .page-lead__wrapper {
  gap: 32px;
  line-height: 26px;
}

.page-lead__title {
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 26px;
}

.page-lead__slogan {
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 26px;
}

.page-lead__text {
  font-size: 14px;
  margin: 0;
  padding: 0;
}
