.page-footer {
  padding: 38px 20px 23px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 36px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 36px 120px;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 33.5px;
  column-gap: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__hashtag {
  margin: 0;
  padding: 0;

  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    text-align: left;
  }
}

.page-footer__socials {
  margin: 0;
  padding: 0;
  min-width: 151px;
}

.page-footer__copy {
  margin: 6px 0 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 7px;
  }

  &--course {
    text-align: center;
    margin: 34px 0 0;
  }
}
