.photo-post {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.photo-post__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
}

.photo-post__photo {
  margin: 0;
  padding: 0;
  width: 100%;
  order: -1;

  &--sunset-road {
    background-color: $sunset-road;
  }

  &--local-plant {
    background-color: $local-plant;
  }
}

.photo-post__author {
  margin: 0;
  padding: 0;
}

.photo-post__likes {
  margin: 0;
  margin-top: 13px;
  padding: 0;
  padding-left: 37px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: $title-text;
}
