.photo__image {
  margin-left: auto;
  margin-right: auto;
  height: 260px;
  width: auto;
  object-fit: cover;

  &--city {
      background-color: $photo-city;
    }

    &--bridge {
      background-color: $photo-bridge;
    }

  @media (min-width: $tablet-width) {
    height: 256px;
  }
}
