.photo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo__wrapper {
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
}

.photo__image {
  width: auto;
  height: 100%;
  object-fit: cover;

  &--city {
    background-color: $city;
  }

  &--bridge {
    background-color: $bridge;
  }

  &--sunset-road {
    background-color: $sunset-road;
  }

  &--plants {
    background-color: $plants;
  }

  &--forest-road {
    background-color: $forest-road;
  }
}
