.photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photo__image {
  width: 100%;
  height: auto;

  &--sunset-road {
    background-color: $sunset-road;
  }

  &--plants {
    background-color: $plants;
  }

  &--forest-road {
    background-color: $forest-road;
  }

  &--bridge {
    background-color: $bridge;
  }
}
