.slogan {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  color: $title-text;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;

  &--welcome {
    background-image: url(../img/back-mobile.jpg);
    background-color: $page-slogan;
  }
}

.slogan__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.slogan__lettering {
  margin: 0;
  padding: 0;

  &--welcome {
    margin-bottom: 6px;
  }

  &--gorgeous {
    margin-bottom: 31px;
  }

  &--sedona {
    margin-bottom: 34px;
  }
}

.slogan__text {
  margin: 0;
  padding: 0;
}
