.slogan {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  color: $title-text;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slogan__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.slogan__lettering {
  margin: 0;
  padding: 0;

.slogan__image {
  max-width: 100%;
  height: auto;
}

.slogan__text {
  margin: 0;
  padding: 0;
}
