.toggle {
  padding: 0;
  color: $basic;

  &--close {
    color: $white;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.toggle__icon--close {
  display: none;
}

// Стилизация кнопки сворачивания меню при открытом меню

.toggle--close .toggle__icon--open {
  display: none;
}

.toggle--close .toggle__icon--close {
  display: block;
}
