.video-section__wrapper {
  position: relative;
  width: 100%;
  min-width: 320px;
  min-height: 200px;
  background-image: url(../img/gallery/video-mobile.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
}

.video-section__video {
  margin: 0 auto;
  min-width: 320px;
  min-height: 200px;
  background-color: $video;
}


.video-section__video-controls {
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;

  &--timeline {
    position: absolute;
    bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
