.video-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-gallery__lead {
  margin: 0;
  padding:  32px 20px 33px;
  max-width: 445px;

  @media (min-width: $tablet-width) {
    padding: 58px 20px 62px;
  }

  @media (min-width: $desktop-width) {
    padding: 62px 20px 65px;
  }
}

.video-gallery__lead .slogan {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.video-gallery__video-section {
  width: 100%;
  box-sizing: border-box;
}
