.video-controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  padding: 21px;
  color: $control-button;
  background-color: $timeline-bg;

  @media (min-width: $tablet-width) {
    padding: 36px 41px 37px 35px;;
  }

  &--mobile {
    column-gap: 0;
    justify-content: space-between;
    padding: 23px;
    width: 100%;

    color: $mobile-control-button;
    background-color: $mobile-controls-bg;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.video-controls__timeline {
  position: relative;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  height: 3px;
  background-color: $timeline;


  &::before {
    content: '';
    position: absolute;
    top: -3px;
    left: 37px;
    width: 9px;
    height: 9px;
    background-color: $white;
    border-radius: 50%;
  }

  @media (min-width: $tablet-width) {
    margin: 0 42px;
    &::before {
      left: 113px;
    }
  }
}

.video-controls__buttons-linking-wrapper {
  display: flex;
  gap: 31px;
  align-items: center;
}

.video-controls__button {
  margin: 0;
  padding: 0;
  color: $control-button;
  background-color: transparent;
  border: none;

  &:hover {
    color: $control-button-hover;
  }

  &:focus {
    color: $control-button-hover;
  }

  &:active {
    color: $control-button-active;
  }
}

.video-controls__button-icon {
  display: block;
}

.video-controls:not(.video-controls--mobile) .video-controls__button {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.video-controls--mobile .video-controls__button {
  color: $mobile-control-button;

  &:hover {
    color: $mobile-control-button-hover;
  }

  &:focus {
    color: $mobile-control-button-hover;
  }

  &:active {
    color: $mobile-control-button-active;
  }
}
