// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

// Basic colors

$basic: #81b3d2;
$white: #ffffff;
$extra-light: #f2f2f2;
$pretty-light: #eee;
$light: #e5e5e5;
$semi-light: #eaeaea;
$dark: #d5d5d5;
$extra-dark: #333333;
$extra-dark-opacity: rgba(51, 51, 51, 0.3);
$black-opacity: rgba(0, 0, 0, 0.3);
$black: #000000;

// Text's colors

$basic-text: $extra-dark;
$title-text: $black;
$special-text: $white;

// Main menu's colors

$main-menu: $black;
$main-menu-hover: $basic;
$main-menu-active: rgba(0, 0, 0, 0.3);
$main-menu-current: #766357;
$main-menu-current-hover: #604e43;
$main-menu-current-active: rgba(118, 99, 87, 0.3);

$main-menu-light-shadow: rgba(255, 255, 255, 0.2);
$main-menu-dark-shadow: rgba(1, 1, 1, 0.2);
$main-menu-gradient: rgba(0, 0, 0, 0.00);

// Buttons' colors

$button: $basic;
$button-hover: #669ec0;
$button-active: #5496bd;
$button-disabled: #e5e5e5;

$button-text: $white;
$button-text-hover: $white;
$button-text-active: rgba(255, 255, 255, 0.3);
$button-text-disabled: $white;

$button-shadow: rgba(255, 255, 255, 0.2);

// Mobile menu buttons' colors

$open-button: $basic;
$open-button-hover: rgba(129, 179, 210, 0.6);
$open-button-active: rgba(129, 179, 210, 0.3);

$close-button: $white;
$close-button-hover: rgba(255, 255, 255, 0.6);
$close-button-active: rgba(255, 255, 255, 0.3);

// Form buttons' colors

$contacts-icon-bg: #e6e6e6;
$input: $extra-light;
$input-hover: $light;
$input-active: $white;
$input-border: $light;

$mark-field: $extra-light;
$mark-field-hover: $light;
$mark-field-active: $dark;
$mark: $extra-dark;
$mark-active: $extra-dark-opacity;

// Copy logo's colors

$copy-logo: $black;
$copy-logo-hover: $basic;
$copy-logo-active: rgba(0, 0, 0, 0.3);

// Video controls' colors

$timeline: rgba(255, 255, 255, 0.2);
$timeline-bg: rgba(0, 0, 0, 0.6);
$timeline-mark: $white;

$mobile-controls-bg: #f2f2f2;
$mobile-control-button: #5C6870;
$mobile-control-button-hover: #333333;
$mobile-control-button-active: rgba(51, 51, 51, 0.3);

$control-button: $white;
$control-button-hover: rgba(255, 255, 255, 0.6);
$control-button-active: rgba(255, 255, 255, 0.3);

// Background's colors

$page-slogan: #dceaf3;
$photo-city: #b5c3b6;
$photo-bridge: #a56a56;
$map: #f2f3eb;
$video: #D3AA94;

// Gallery

$sunset-road: #f4be78;
$local-plant: #ca8b56;
$north-road: #3e4e2f;
$bridge: #a56a56;

// Decorative

$advantage-strip: #d6d6d6;
$form-strip: $light;
$form-column: #d8d8d8;
